mixin house-options-list(icon, text, char)
	+e.item-desc
		+icon(icon)
		p!= text
		span!= char
			block

mixin sProject(houseOptions)
	// start sProject
	+b.sProject.section#sProject&attributes(attributes)
		.container
			.row
				.col-lg-7
					+e.slider-wrap
						+e.slider--js.swiper
							.swiper-wrapper
								mixin slide2(i)
									+e.slide.swiper-slide
										+e.img-wrap--slider(href=`img/@2x/sProject-md-${i}.jpg` data-fancybox= "sCard-gallery")
											//- img(src=`img/card-md-1.jpg` alt='')
											+pic(`sProject-md-${i}.jpg`, `bg`, 0)
								+slide2(1)
								+slide2(1)
								+slide2(1)
								+slide2(1)
							+arrow
						+e.slider-thumbs--js.swiper
							.swiper-wrapper
								mixin slide(i)
									+e.slide.swiper-slide
										+e.img-wrap--thumbs.bg-wrap
											+pic(`sProject-sm-${i}.jpg`, `bg`, 0).picture-bg
											//- img(src=`img/@2x/sProject-sm-${i}.jpg` alt='')
								+slide(1)
								+slide(1)
								+slide(1)
								+slide(1)
				.col-lg-5
					if houseOptions
						+e.house-options
							.h5 Параметры дома:
							+e.list
								+house-options-list('parameter-1', 'Размер', '6 х 9 м')
								+house-options-list('parameter-2', 'Площадь', '91 м')
									sup 2
								+house-options-list('parameter-3', 'Количество комнат', '4')
								+house-options-list('parameter-4', 'Этажность', '1 + мансарда')
								+house-options-list('parameter-5', 'Срок строительства:', '30 дней')
							+e.BUTTON.order заказать дом
							+e.btn-wrap
								button купить в кредит
								button мат. капитал
							ul 
								li
									+icon('advantage-img')
									span Любой вид фундамента
									+icon('info')
									+e.hint
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatem incidunt temporibus magni odio quos natus repellendus asperiores ducimus expedita.
								li
									+icon('advantage-img')
									span 5 лет гарантии
									+icon('info')
									+e.hint
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatem incidunt temporibus magni odio quos natus repellendus asperiores ducimus expedita.
								li
									+icon('advantage-img')
									span Свое производство
									+icon('info')
									+e.hint
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatem incidunt temporibus magni odio quos natus repellendus asperiores ducimus expedita.
							+e.BUTTON.change изменить планировку
							+e.socials
								p Поделиться ссылкой
								+soc()
									+item-sos('vkontakte')
									+item-sos('twitter')
									+item-sos('facebook')
									+item-sos('whatsapp')
									+item-sos('telegram')
					else 
						+e.house-options
							table
								tr
									td(colspan="2")
										.h5 Параметры дома:
								tr
									td: p Адрес
									td: p Ленинградская область, Муринское городское поселение, Всеволожский район, СНТ Лаврики
								tr
									td: p Проект
									td: p индивидуальный
								tr
									td: p Комплектация
									td: p под ключ
								tr
									td: p Срок строительства
									td: p 45 дней
								tr
									td: p Площадь дома
									td: p 153 м²
								tr
									td: p Площадь застройки
									td: p 85,5 м²
								tr
									td: p Размер дома
									td: p 9,0х9,5 м
							+e.socials
								p Поделиться ссылкой
								+soc()
									+item-sos('vkontakte')
									+item-sos('twitter')
									+item-sos('facebook')
									+item-sos('whatsapp')
									+item-sos('telegram')
	// end sProjects