mixin materials-list(title)
	+e.materials-list
		h5!= title
		block 

mixin materials-item(name, pattern)
	+e.item
		p!= name
		p!= pattern

mixin sMaterials(data)
	// start sMaterials
	+b.sMaterials.section#sMaterials&attributes(attributes)
		.container
			.row
				.col-12
					+e.info-wrap
						+e.info(href="#")
							+icon('print')
							span Печать проекта
						+e.info(href="#")
							span О технологии
				.col
					+e.body
						+e.table-wrap
							table
								thead
									tr
										th(colspan="2")
										th.text-center СЕЗОННЫЙ: 1&nbsp;682&nbsp;000&nbsp;РУБ. 
										th.text-center ТЕПЛЫЙ КОНТУР: РАСЧИТЫВАЕТСЯ
										th.text-center  ЗИМНИЙ: 2&nbsp;012&nbsp;500&nbsp;РУБ.
								tbody
									mixin title(t)
										+e.TR.title
											td(colspan="5")
												.h5= t
									
									mixin tr(t1,t2)
										+e.TR.content
											td= t1
											td= t2
											td.text-center: +icon('check')
											td.text-center: +icon('check')
											td.text-center
									mixin tr2(t2)
										+e.TR.content
											td
											td= t2
											td.text-center
											td.text-center
											td.text-center: +icon('check')
									
									+title('Основание:')
									+tr("Основание дома",'первый ряд обвязки из бруса 150х150мм.')
									+tr2('первый ряд обвязки из бруса 250х150мм.')
									+tr("Второй ряд обвязки",'торцевая доска 40х150мм.')
									
									+title('Силовой каркас:')
									+tr("Стойки",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Половые лаги",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Потолочные балки",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Укосины",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Ригеля",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Перегородки ",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									
									+title('Силовой каркас:')
									+tr("Стойки",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Половые лаги",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Потолочные балки",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Укосины",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Ригеля",'сухой обрезной брусок 40х150мм. / шаг 590мм.')
									+tr("Перегородки ",'сухой обрезной брусок 40х150мм. / шаг 590мм.')


							//- tr
							//- 	td
							//- 		p Основание дома
							//- 	td
							//- 		p первый ряд обвязки из бруса 150х150мм. 
							//- 	td 
							//- 		+icon('check')
							//- 	td
							//- 		+icon('check')
							//- 	td
							//- 		+icon('check')
									
							
					//- .tabs
					//- 	+e.tabs.tabs__caption
					//- 		+e.link.tabs__btn.active СЕЗОННЫЙ: 1 682 000 РУБ. 
					//- 		+e.link.tabs__btn ТЕПЛЫЙ КОНТУР: РАСЧИТЫВАЕТСЯ
					//- 		+e.link.tabs__btn ЗИМНИЙ: 2 012 500 РУБ.
					//- 	.tabs__wrap
					//- 		mixin tab()
					//- 			.tabs__content&attributes(attributes)
					//- 				block
					//- 				+materials-list('Основание:')
					//- 					+materials-item('Основание дома', 'первый ряд обвязки из бруса 150х150мм.')
					//- 					+materials-item('Второй ряд обвязки', 'торцевая доска 40х150мм.')
					//- 				+materials-list('Силовой каркас:')
					//- 					+materials-item('Стойки', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Половые лаги', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Потолочные балки', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Укосины', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Ригеля', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Перегородки', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 				+materials-list('Силовой каркас:')
					//- 					+materials-item('Стойки', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Половые лаги', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Потолочные балки', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Укосины', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Ригеля', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 					+materials-item('Перегородки', 'сухой обрезной брусок 40&times;150мм.&nbsp;/ шаг 590мм.')
					//- 		+tab().active
					//- 		- for (var x = 0; x < 2; x++)
					//- 			+tab()
					//- 				= x
					+e.sum-up
						h5 Стоимость строительства:
						span 1 682 000 ₽
						button зафиксировать стоимость
	// end sMaterials