include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin page-head(title, ...items)
	+b.page-head
		.container 
			h1!= title 
			+breadcrumb('Главная', ...items)

mixin page-head2(title, cost, imgLeft, imgRight, textLeft, textRight, ...items)
	+b.page-head--with-links
		+b.queueHouse
			.container
				.row
					.col-6
						+e.prev-project.project-link(href="#")
							+pic(`${imgLeft}`, 'bg', 0)
							+icon('chevron-right')
							h5!= textLeft
					.col-6
						+e.next-project.project-link(href="#")
							h5!= textRight
							+icon('chevron-right')
							+pic(`${imgRight}`, 'bg', 0)
		.container 
			h1!= title 
			+breadcrumb('Главная', ...items)
			if cost
				.row 
					.col-lg-4
						+e.link(href="#")
							span Комплектация
							h5 Сезонный – 
								span 1 682 000 ₽
							p Что входит в стоимость?
					.col-lg-4
						+e.link(href="#")
							span Комплектация
							h5 Теплый контур –
								span Рассчитать
							p Что входит в стоимость?
					.col-lg-4
						+e.link(href="#")
							span Комплектация
							h5 Зимний –
								span 2 012 500 ₽
							p Что входит в стоимость?

mixin inner-content()
	.container.container--main
		.row
			.col-lg-8.col--main
				block
			.col-lg-4.col--aside
				+b.choose-project
					h5 Выбрать проект:
					a(href="#")
						+pic('headerBlock-1.jpg')
						+e.content 
							p каркасные дома
							+icon('link-arrow')
							span от 341 100 ₽
					a(href="#")
						+pic('headerBlock-2.jpg')
						+e.content 
							p дома из бруса
							+icon('link-arrow')
							span от 295 000 ₽
					a(href="#")
						+pic('headerBlock-3.jpg')
						+e.content 
							p бани из бруса
							+icon('link-arrow')
							span от 250 000 ₽
				+b.consultation
					h5 Нужна консультация?
					p Мы перезвоним вам в течение 5&nbsp;минут и ответим на любые вопросы.
					+form-wrap()
						+input('Ваше имя')
						+input('+7 (_ _ _) _ _ _ - _ _ - _ _', 'tel')
						button(type='submit') Отправить
						//- +in-c('checkbox', 'Согласен на обработку данных')
						+e.LABEL.checkbox
							input(type="checkbox" name="policy" checked class="invisible")
							span.square
							span.txt Согласен на обработку данных

mixin scrollToTop()
	+b.back-top#back-top
		a(href="#top")
			+icon('chevron-down')

//- mixin housesQueue() 
//- 	+b.queueHouse
//- 		.container
//- 			.row
//- 				.col-lg-6
//- 					+e.prev-project 
//- 						+pic('sCards-4.jpg', 'bg', 0)
//- 						+e.content
//- 							+icon('chevron-right')
//- 							h5 Проект дома К-10